# Admin Password
ADMIN_PASSWORD=

# ID de ta Google Sheet (dans l'URL après /d/)
GOOGLE_SPREADSHEET_ID=

# Email du compte de service (dans le JSON)
GOOGLE_SERVICE_ACCOUNT_EMAIL=

# Clé privée (ATTENTION aux \n !)
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nMIIEvwXXXecrWbrNQ==\n-----END PRIVATE KEY-----\n"

# URL de Echange rate
NEXT_PUBLIC_EXCHANGE_RATE_API_URL=